<div>
    <h3>Animations View</h3>
    <div>
        <h1>ngShow animation</h1>
        <button ng-click="fadeAnimation = !fadeAnimation">Toggle fade</button>
        fadeAnimation value: {{fadeAnimation}}
        <div class="firstSampleAnimation" ng-show="fadeAnimation">
            This element appears when the fadeAnimation model
            is true
        </div>
    </div>
</div>
<div>
    <h1>ngIf animation</h1>
    <div>
        fadeAnimation value: {{fadeAnimation}}
    </div>
    <button ng-click="fadeAnimation = !fadeAnimation">
        Toggle fade</button>
    <div ng-if="fadeAnimation" class="animationIf">
        This element appears when the fadeAnimation model is true
    </div>
</div>