<section class="view-main" id="page-wrapper">
    <h3>UI Grid</h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" >
                <div class="panel-heading">{{title}}</div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div class="myGrid" style="background-color:white" ui-grid-edit ui-grid-auto-resize ui-grid-pinning ui-grid-exporter ui-grid-importer ui-grid-resize-columns ui-grid-move-columns ui-grid="gridOptions"></div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>